/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

.wrapper-body {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75em;
    color: #d5d5d5;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #b7d3ec;
    overflow-y: auto;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #f5f5f5;
}

.wrapper-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("images/back.png");
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    width: 75%;
    height: auto;
    background-color: #1b3c54;
    border-radius: 40px;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
    margin: 70px auto;
    backface-visibility: hidden;
    padding: 40px 40px 0 40px;
}

.transition-appear {
    transform-origin: 50% 50%;
    animation: flipInLeft 1.2s both ease-in-out;
}

@keyframes flipInLeft {
    from {
        transform: rotateX(-30deg) rotateY(-30deg);
        opacity: 0.2;
    }
}

#header {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    color: #f5f5f5;
    display: flex;
    align-items: center;
}

.logo-symbol {
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #3d193e;
    border-radius: 100px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
}

.logo-text {
    font-size: 20px;
    font-weight: 600;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-list-item {
    position: relative;
    margin-right: 40px;
    line-height: 30px;
    font-size: 16px;
}

.nav-list-item::before {
    content: '';
    transition: width .3s ease-in-out;
    width: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 4px;
    background-color: #fff;
    opacity: .5;
}

.nav-list-item:hover:before {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    margin: 80px 0;
}

#about {
    padding: 5% 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-wrapper {
    width: 380px;
    min-width: 380px;
    min-height: 380px;
    height: 380px;
    padding: 0 10px;
    border-radius: 100%;
    border: 18px solid #3d193e;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .8);
    background-image: url("images/image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-container {
    width: 100%;
}

.about-info-wrapper {
    width: 60%;
    padding: 0 10px;
}

.about-info {
    padding-left: 50px;
}
.info-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.about-info h4 {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin-bottom: 10px;
}

.about-info h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
}

#footer {
    height: 55px;
}

.btn {
    display: inline-block;
    position: relative;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .78);
    background-color: #315b79;
    border-radius: 20px;
    text-align: center;
    padding: 5px 23px;
    cursor: pointer;
    transition: all .3s ease-out;
    margin-right: 30px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #b7d3ec;
    color: #1b3c54;
}

.content-block {
    padding-top: 60px;
}

.block-title h2 {
    display: inline-block;
    position: relative;
    font-size: 25px;
    margin: 0 0 30px;
    padding-bottom: 10px;
}

.block-title h2::after {
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    background-color: #3d193e;
    height: 2px;
    bottom: 0;
}

.timeline .timeline-item {
    position: relative;
    padding: 25px 0 20px 40px;
}

.timeline-item:first-child {
    padding-top: 5px;
}

.timeline-item:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    background-color: #b7d3ec;
    width: 1px;
    left: 15px;
    bottom: 5px;
}

.timeline-item:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background-color: #b7d3ec;
    width: calc(100% - 15px);
    left: 15px;
    bottom: 3px;
}

.timeline-item .item-period {
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 5px -40px;
    color: #1b3c54;
    background-color: #b7d3ec;
    padding: 0 10px;
    line-height: 26px;
    border-radius: 30px;
    transition: all .3s ease-in-out;
}

.item-period:hover {
    background-color: #1b3c54;
    color: #b7d3ec;
}

.timeline-item .item-name {
    margin-left: 5px;
}

.timeline-item .item-title {
    font-size: 16px;
    margin: 10px 0 7px;
}

.work-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.work-list-item-wrapper {
    width: 20%;
}

.work-list-item {
    width: 100%;
    padding: 45px 10px 10px;
    text-align: center;
    background-color: #315b79;
    margin-bottom: 10px;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.work-list-item h1 {
    transition: color 0.3s ease-in-out;
}

.work-list-item .logo img {
    width: 40%;
    max-width: 95px;
    height: auto;
}

.work-list-item:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
}

.work-list-item:hover .WF {
    color: orange;
}

.work-list-item:hover .codics {
    color: #3d1844;
}

#stories, #education .block-title {
    text-align: center;
}

#stories .block-title h2 {
    font-size: 35px;
    font-style: italic;
    text-shadow: 2px 2px #9fa5bf;
}

.portfolio-item {
    position: relative;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-desktop {
    position: relative;
    width: 90%;
    height: auto;
}

.image-mobile {
    position: absolute;
    width: 25%;
    height: auto;
    border-radius: 17px;
}

.eu-2 {
    top: 30%;
    right: 5%;
}

.sa-2 {
    left: 80%;
    top: 30%;
}
.info-item{
    min-width: 160px;
    display: flex;
    align-items: center;
}
.info-item .icon{
    padding-right: 20px;
    width: 40px;
    height: 40px;
}
.icon img{
    width: 100%;
    height: 100%;
}
#info{
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .wrapper-background{
        display: none;
    }
    .portfolio-item{
        width: 85%;
    }
}

@media screen and (max-width: 1024px){
    .nav{
        display: none;
    }
    .portfolio{
        flex-wrap: wrap;
    }
    .portfolio-item.eu{
        margin-top: 90px;
    }
    .work-list-item-wrapper {
        width: 30%;
    }
}
@media screen and (max-width: 1200px){
    .about-info-wrapper {
        width: 100%;
    }
    #about{
        flex-wrap: wrap;
        justify-content: center;
    }

}
